:root {
  --main: white;
  --complementary: #ACB1D6;
  --accent: #566eaf;
  --highlight: #566eaf;
  --text: #030303;
  --accentTint: rgba(130, 148, 196, 0.9);
  --accentDark: rgba(130, 148, 196, 0.6);
  --shadowMain: rgba(130, 148, 196, 0.4);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header > button {
  color: var(--accent);
  background-color: transparent;
  border: 1px solid var(--accent);
  padding: 0.75rem 1rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  border-radius: 4px;
  font-size: 16px;
  position: absolute;
  top: 24px;
  right: 24px;
}

main {
  min-height: 95vh;
}

footer {
  line-height: 32px;
  background-color: var(--complementary);
  padding: 0 48px;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: var(--accent);
  transition: 0.2s all;
}

footer > a {
  margin-right: 32px;
}
